body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../source/BG_log_sign.webp');
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    width: 25rem;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.page-title {
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: center;
}

.article-details {
    margin-bottom: 20px;
}

.article-title {
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.article-description {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
}

.article-price {
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.article-stock {
    font-weight: bold;
    color: #444;
}

.cart-form, .edit-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="number"],
button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.btn-submit, .btn-edit, .btn-back {
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover, .btn-edit:hover, .btn-back:hover {
    background-color: #0056b3;
}

.login-prompt {
    color: #f00;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .btn-submit, .btn-edit, .btn-back {
        width: 100%;
    }
}
