*{
    margin: 0;
    padding: 0;
  }

.display {
    display: flex;
    flex-direction: column;
    width: screen;
    height: 50rem;
}

.Header {
    display: flex;
    flex-direction: row;
    width: screen;
    height: 5rem;
    background: black;
}

.Header-Left {
    width: auto;
    height: 5rem;
    background: black;
}

.Header-Right {
    width: auto;
    height: 5rem;
    background: black;
}

